<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header(title='Usuarios')}"></head>
<body>
<div class="container">
    <nav th:replace="~{fragments/navbar.html :: navbar(active='Usuarios')}"></nav>
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <h2>Nuevo Usuario</h2>
            <hr/>
            <form th:action="@{/user/save}" method="post">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre"/>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido"/>
                </div>
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" name="dni" id="dni"/>
                </div>
                <div class="mb-3">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" name="edad" id="edad"/>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" name="email" id="email"/>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="pwd" id="pwd"/>
                </div>
                <div class="mb-3">
                    <label for="activo" class="form-label">Activo</label>
                    <select class="form-select" name="activo" id="activo">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <a th:href="@{/user}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
</body>
</html>
